/node_modules
/public/hot
/public/storage
/public/thumbs
/public/css/app.css

/public/files/*
!/public/files/img01.jpg
!/public/files/img02.jpg

!/public/files/user2/
/public/files/user2/*
!/public/files/user2/img03.jpg
!/public/files/user2/img04.jpg
!/public/files/user2/img05.jpg
!/public/files/user2/img06.jpg
!/public/files/user2/img07.png
!/public/files/user2/img08.jpg
!/public/files/user2/img09.jpg
!/public/files/user2/img10.jpg

/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
database.sqlite
.vscode
